<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhero.babasport.mapper.product.BrandMapper">
	<sql id="querySql">
		<where>
			<if test="name != null">
				and name like "%"#{name}"%"
			</if>
			<if test="isDisplay != null">
				and is_display = #{isDisplay}
			</if>
		</where>
	</sql>
	<!-- 查询品牌列表(不分页) -->
	<resultMap type="brand" id="brandMap">
		<result column="img_url" property="imgUrl"/>
		<result column="is_display" property="isDisplay"/>
	</resultMap>
	<select id="selectBrandListNoPage" parameterType="brandQuery" resultMap="brandMap">
		select id,name,description,img_url,sort,is_display from bbs_brand
		<include refid="qeurySql"/>
	</select>
	<!-- 查询列表分页 -->
	<select id="selectBrandListByPage" parameterType="brandQuery" parameterMap="brandMap">
		select id,name,description,img_url,sort,is_display from bbs_brand
		<include refid="qeurySql"/>
		limit #{startRow},#{pageSize}
	</select>
	<!-- 总条数 -->
	<select id="selectBrandCount" resultType="int">
		select count(1) from bbs_brand
	</select>
</mapper>