<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhero.babasport.mapper.test.BbsTestMapper">
	<insert id="insertBbsTest" parameterType="bbsTest">
		insert into bbs_test(name,birthday) values(#{name},#{birthday})
	</insert>
	<select id="queryBbsTests" resultType="bbsTest">
		select * from bbs_test
	</select>
</mapper>